<%= form_for(@diet_manager) do |f| %>
  <% if @diet_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diet_manager.errors.count, "error") %> prohibited this diet_manager from being saved:</h2>

      <ul>
      <% @diet_manager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <td></td>
        <td>Diet</td>
        <td>Description</td>
        <td><center>Calories</center></td>
      </tr>
    </thead>
    <tbody>
      <% @user = (params[:user].nil? ? current_user.id : params[:user]) %>
      <% Diet.all.each do |d| %>
        <tr>
          <%= hidden_field_tag :trainee, @user %>
          <td><%= check_box_tag 'project[sel_diet][]', d.id, false, class: 'form-control' %></td>
          <td><%= d.name %></td>
          <td><%= d.descr %></td>
          <td><center><%= d.calories %></center></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="actions">
    <%= f.submit "Add Diets" %>
  </div>
<% end %>