<div id="bg">
	<div class="authform">
		<%= form_tag(register_clear_path) do %>
		<h3 style="text-align: center">Additional Information</h3>
		<div class="form-group">
			<%= label_tag "First Name" %>
			<%= text_field_tag :first, nil, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= label_tag "Last Name" %>
			<%= text_field_tag :last, nil, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= label_tag "Birth" %>
			<%= date_field :birth ,nil, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= label_tag "Gender" %><br>
			<%= radio_button_tag :gender, 'Male' %>
			 <%= label :gender, 'Male' %>
            <%= radio_button_tag :gender, 'Female' %>
      		<%= label :gender, 'Female' %>
		</div>
		<div class="form-group">
			<%= label_tag "Would you like personal training?" %><br>
			<%= radio_button_tag :diet_fitness_flag, 0 %>
			<%= label :diet_fitness_flag, 'No' %>
			<%= radio_button_tag :diet_fitness_flag, 1 %>
			<%= label :diet_fitness_flag, 'Diet' %>
			<%= radio_button_tag :diet_fitness_flag, 2 %>
			<%= label :diet_fitness_flag, 'Fitness' %>
			<%= radio_button_tag :diet_fitness_flag, 3 %>
			<%= label :diet_fitness_flag, 'Both' %>
		</div>
		<div class="form-group">
			<%= label_tag "Weight(lbs)" %>
			<%= number_field_tag :weight,nil, in: 50..600, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= label_tag "Height(in)" %>
			<%= number_field_tag :height,nil, in: 36..120, class: 'form-control' %>
		</div>
		<%= submit_tag 'Continue', :class => 'btn btn-primary center-block' %>
		<% end %>
	</div>
</div>
<style>
	#bg{
	background: url(/assets/metal.jpg) center no-repeat;
	/* Preserve aspet ratio */
	left: 0;
	right: 0;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	background-size: 100% auto;
</style>

