<% if user_signed_in? %>
<% if current_user.u_type == 2 %>
    <!-- Administrator view -->
    <h3>Move all these navigation links to navigation...</h3>
    <%= link_to "Diet Management", diets_path %><br />
    <%= link_to "Exersise Management", exercises_path %><br />
    <%= link_to "User Management", admin_root_path %><br />
    <%= link_to "Make My Workout", exercise_managers_path %><br />
    <%= link_to "Make My Diet", diet_managers_path %>
    
<% elsif current_user.u_type == 3 %>
<!-- Trainer view -->
<!-- Trainer can: if user wants to be coached, trainer can see users and coach -->
    <div style="width: 60%; margin-left: 20%;">
        <center>
            <h3>Trainees</h3>
        </center>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Training requested</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% User.all.each do |u| %>
                   <% if u.diet_fitness_flag > 0 %>
                        <tr>
                            <td><%= u.fullname %></td>
                            <td><%= link_to 'Train exercise', new_exercise_manager_path(:user => u), :class => 'btn btn-default' %></td>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>

<% elsif current_user.u_type == 1 %>
    <!-- User view -->
    
    <% if current_user.gender.nil? || current_user.gender == "" %>
        <!-- First time login (Or profile not filled out) -->
        
        <%= render '/homepage/register_input' %>
        
    <% else %>
        <!-- Profile extras are completed -->
        <div class="row">
            <div class="row">
                <div class="col-xs-2 col-md-2"></div>
                <div class="col-xs-4 col-md-4 has-bg">
                    <h2>Welcome, <%= current_user.fullname %>!</h2>
                    <h3><%= Time.now.strftime "%m/%d/%Y | %H:%M" %></h3>
                </div>
                <div class="col-xs-4 col-md-4 has-bg"><h2>&nbsp</h2><h3>&nbsp</h3></div>
                <div class="col-xs-2 col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-md-2"></div>
                <div class="col-xs-8 col-md-8 has-bg">
                    <table class="table table-horizontal">
                        <tr><td class="info">Stats</td></tr>
                        <tr><td><p>Age: <%= current_user.age %></p>
                        <p>Weight: <%= current_user.weight %> lbs.</p>
                        <% @feet = current_user.height / 12 %>
                        <% @inches = current_user.height % 12 %>
                        <p>Height: <%= "%d'%d\"" % [@feet, @inches] %></p>
                        <p>Gender: <%= current_user.gender %></p>
                        <p>Fitness Score: <%= number_with_precision(current_user.ex_score.to_f, :precision => 2) %> <i><span class="
                            <%=  
                            if fit_rating == "Above Average"
                                "above-average"
                            elsif fit_rating == "Below Average"
                                "below-average"
                            else
                                fit_rating.downcase
                            end
                            %>"><%= fit_rating.downcase %></span></i></p>
                        <p>Diet Score: <%= number_with_precision(current_user.diet_score.to_f, :precision => 2) %> <i>kilocalories must be consumed to maintain current weight</i></p></td></tr>
                    </table>
                </div>
                <div class="col-xs-2 col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-md-2"></div>
                <div class="col-xs-8 col-md-8 has-bg">
                    <table class="table table-horizontal">
                        <tr><td class="info">Charts</td></tr>
                        <tr>
                            <td>
                                <% if current_user.exercises.count > 0 || current_user.diets.count > 0 %>
                                    <span style="float: left; width: 50%;"><%= pie_chart current_user.exercises.group(:name).sum(:calories)  %></span>
                                    <span style="float: left; width: 50%;"><%= pie_chart current_user.diets.group(:name).sum(:calories) %></span>
                                <% end %>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-2 col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-md-2"></div>
                <div class="col-xs-8 col-md-8 has-bg">
                    <table class="table table-horizontal">
                        <tr><td class="info">Diet </td></tr>
                        <tr><td>
                            <% if current_user.diet_score.nil? %>
                                <%= link_to "Take Diet Test".html_safe, diet_info_input_path, :class => "btn btn-danger" %>
                            <% end %>
                            <% if current_user.diets.count == 0 %>
                                <%= link_to "Make My Diet", new_diet_manager_path, :class => "btn btn-default btn-small" %>
                            <% elsif %>
                                <div style="margin-left: 10%; width: 75%;">
                                    <table class="table table-striped">
                                        <tbody>
                                          <% current_user.diets.each do |d| %>
                                            <tr>
                                              <td style="width: 60%"><%= d.name %></td>
                                              <td><%= link_to 'Show', d, :class => "btn btn-default" %></td>
                                              <td><%= link_to 'Remove meal', d, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                            </tr> 
                                          <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            <% end %>
                        </td></tr>
                    </table>
                </div>
                <div class="col-xs-2 col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-md-2"></div>
                <div class="col-xs-8 col-md-8 has-bg">
                    <table class="table table-horizontal">
                        <% @ex_differential = current_user.exercises.map {|d| d['calories']}.reduce(0, :+).round %>
                        <tr><td class="info">Fitness <%= @ex_differential %> calories burned</td></tr>
                        <tr><td>
                            <% if current_user.ex_score.nil? %>
                                <%= link_to "Take Fitness Test", fitness_info_input_path, :class => "btn btn-danger" %>
                            <% end %>
                            <% if current_user.exercises.count == 0 %>
                                <%= link_to "Make My Workout", new_exercise_manager_path, :class => "btn btn-default btn-small" %>
                            <% elsif %>
                                <div style="margin-left: 10%; width: 75%;">
                                    <table class="table table-striped">
                                        <tbody>
                                          <% current_user.exercises.each do |e| %>
                                            <tr>
                                              <td style="width: 60%"><%= e.name %></td>
                                              <td><%= link_to 'Show', e, :class => "btn btn-default" %></td>
                                              <td><%= link_to 'Remove exercise', e, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                            </tr> 
                                          <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            <% end %>
                        </td></tr>
                    </table>
                </div>
                <div class="col-xs-2 col-md-2"></div>
            </div>
        </div>
    <% end %>
<% else %>
<!-- Somehow an unregistered user has reached this page -->

<% end %>
<% end %>

