<div id="btg">
<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <h3>Edit your account info</h3>

    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :fname, "First Name" %><br />
      <%= f.text_field :fname, autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label :lname, "Last Name" %><br />
      <%= f.text_field :lname %>
    </div>
    <div class="form-group">
      <%= f.label :bday, "Date of Birth" %><br />
      <%= f.date_field :bday, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :weight %><i> in pounds</i><br />
      <%= f.number_field :weight, in: 50..400, step: 1.0 %>
    </div>
    <div class="form-group">
      <%= f.label :height %><i> in inches</i><br />
      <%= f.number_field :height, in: 36..96, step: 0.5 %>
    </div>
    <div class="form-group"><%= f.radio_button :gender, 'male', :checked => true %> 
      <%= label :gender, 'Male' %>
      <%= f.radio_button :gender, 'female' %>
      <%= label :gender, 'Female' %>
    </div>
    <div class="form-group">
			<%= label_tag "Would you like personal training?" %><br>
			<%= f.radio_button :diet_fitness_flag, 0 %>
			<%= label :diet_fitness_flag, 'No' %>
			<%= f.radio_button :diet_fitness_flag, 1 %>
			<%= label :diet_fitness_flag, 'Diet' %>
			<%= f.radio_button :diet_fitness_flag, 2 %>
			<%= label :diet_fitness_flag, 'Fitness' %>
			<%= f.radio_button :diet_fitness_flag, 3 %>
			<%= label :diet_fitness_flag, 'Both' %>
		</div>
    <fieldset>
      <p>Leave these fields blank if you don't want to change your password.</p>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>You must enter your current password to make changes.</p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Update', :class => 'button right' %>
  <% end %>
</div>
<div class="authform">
<h3>Cancel Account</h3>
<p>Unhappy? We'll be sad to see you go.</p>
<%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %>
<<<<<<< HEAD
</div>
</div>

<style>
	#btg {
		background: url(/assets/freebike.jpg) center no-repeat;
		background-size: 100% auto;
		/* Preserve aspet ratio */
		left: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
	}
</style>
