<%= form_for(@diet) do |f| %>
  <% if @diet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diet.errors.count, "error") %> prohibited this diet from being saved:</h2>

      <ul>
      <% @diet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fName %><br>
    <%= f.text_field :fName %>
  </div>
  <div class="field">
    <%= f.label :descr %><br>
    <%= f.text_area :descr %>
  </div>
  <div class="field">
    <%= f.label :calories %><br>
    <%= f.text_field :calories %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
