<h1>Listing diets</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Descr</th>
      <th>Calories</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  	<%@diet = Diet.all%>
    <% @diet.each do |diet| %>
      <tr>
        <td><%= diet.name %></td>
        <td><%= diet.descr %></td>
        <td><%= diet.calories %></td>
        <td><%= link_to 'Show', diet %></td>
        <td><%= link_to 'Edit', edit_diet_path(diet) %></td>
        <td><%= link_to 'Destroy', diet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diet', new_diet_path %>
