<div>
  <center>
    <h3>Listing exercises</h3>
  </center>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Calories</th>
        <th>Intensity</th>
        <th>Controlls</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @exercises.each do |exercise| %>
        <tr>
          <td><%= exercise.name %></td>
          <td><%= exercise.descr %></td>
          <td><%= exercise.calories %></td>
          <td><%= exercise.intensity %></td>
          <td><%= button_to 'Show', exercise, method: :get, class: 'btn btn-info' %></td>
          <td><%= button_to 'Edit', edit_exercise_path(exercise), method: :get, class: 'btn btn-warning' %></td>
          <td class="danger"><%= button_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Create new exercise', new_exercise_path, :class => "btn btn-success btn-block" %><br>
</div>