<%= form_for(@exercise_manager) do |f| %>
  <% if @exercise_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise_manager.errors.count, "error") %> prohibited this exercise_manager from being saved:</h2>

      <ul>
      <% @exercise_manager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="form-field">
    <%= f.label :exercise_id %><br>
    <%= select_tag(:se, options_for_select(Exercise.all.collect {|u| [u.name, u.id]}),{data:{live_search: "true"},:id=>"sel",:class => 'form-control',:placeholder=>"Click here to select all absent users. Leave blank if all present", :multiple => true, :name=>'project[sel_ex][]'}) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
