<%= form_for(@exercise_manager) do |f| %>
  <% if @exercise_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise_manager.errors.count, "error") %> prohibited this exercise_manager from being saved:</h2>

      <ul>
      <% @exercise_manager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <td></td>
        <td>Exercise</td>
        <td><center>Intensity</center></td>
        <td><center>Calories Burned</center></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
        <% Exercise.all.each do |e| %>
          <tr>
              <td><%= check_box_tag 'project[sel_ex][]', e.id, false, class: 'form-control' %></td>
              <td><%= e.name %></td>
              <td><center><%= e.intensity %></center></td>
              <td><center><%= e.calories %></center></td>
              <!-- Button trigger modal -->
              <td><%= link_to "Show", e, :class => "btn btn-default" %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
  
  <div class="actions">
    <%= f.submit "Add exercises" %>
  </div>
<% end %>
<script type="text/javascript">
$('#hide').on('click', function () {
    $('#popup-youtube-player')[0].contentWindow.postMessage('{"event":"command","func":"' +'stopVideo' + '","args":""}', '*');
});
</script>