<%= form_for(@exercise_manager) do |f| %>
  <% if @exercise_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise_manager.errors.count, "error") %> prohibited this exercise_manager from being saved:</h2>
      <ul>
        <% @exercise_manager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table" style="width: 70%; margin-left: 15%;">
    <thead>
      <tr>
        <th></th>
        <th>Exercise</th>
        <th><center>Intensity</center></th>
        <th><center>Calories Burned</center></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @user = User.find_by_id(params[:id]) %>
      <% Exercise.all.each do |e| %>
      
       <% if fit_rating(@user) == "Extremely Poor" && e.intensity <= 1 %>
          <tr>

       <%= hidden_field_tag :trainee, @user.id %>
       <td><%= check_box_tag 'project[sel_ex][]', e.id, false, class: 'form-control' %></td>
       <td><%= e.name %></td>
       <td><center><%= e.intensity %></center></td>
       <td><center><%= e.calories %></center></td>
       <td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#<%= e.name.gsub(/[^0-9A-Za-z]/, '') %>_modal">Show</button></td>
            </tr>
            <!-- Modal -->
            
          <% end %>
        <% end %> 
        
    </tbody>
  </table>
  
  <div class="actions" style="margin-left: 15%;">
    <%= f.submit "Add exercises" %>
  </div>
<% end %>