<div style="width: 60%; margin-left: 20%;">
  <center>
    <h3>My exercises</h3>
  </center>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>User</th>
        <th>Exercise</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @exercise_managers.each do |exercise_manager| %>
        <tr>
          <td><%= exercise_manager.user.fullname %></td>
          <td><%= exercise_manager.exercise.name %></td>
          <td><%= link_to 'Show', exercise_manager.exercise, :class => "btn btn-default" %></td>
          <td><%= link_to 'Remove exercise', exercise_manager, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Add exercise', new_exercise_manager_path, :class => "btn btn-default" %>
</div>