<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Flats" %></title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Flats" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "//code.highcharts.com/highcharts.js", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  	<%if params[:action] != 'new' && params[:controller] != 'sessions'%>
    <%= render 'layouts/navigation_clinton' %>
    <%= render 'layouts/messages' %>
    <%end%>
    <%= yield %>
  </body>
</html>
